# --- Unity general ---
Library/
Temp/
Obj/
Logs/
UserSettings/
MemoryCaptures/
*.csproj
*.sln
*.user
*.unityproj

# --- Builds WebGL ---
Build/
*.unityweb
*.wasm
*.mem
*.symbols.json

# --- Builds Android ---
*.apk
*.aab

# --- Otros artefactos ---
.vs/
*.swp
*.tmp
